body{
    background-color: rgb(184, 175, 175);
}
.heading{
    font-size: large;
    display: flex;
    justify-content: center;
}
.main{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
button{
    padding: 13px;
}
