body{
    background-color: rgb(241, 39, 39);
}
.heading{
    font-size: large;
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center;
}
form.button{
    font-size: 300px;
}