body{
    background-color: rgb(184, 175, 175);
}
.heading{
    font-size: large;
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    justify-content: center;
}
button{
    font-size: 13px;
}
